extends layout

block content
   script(src='/tictactoe/javascripts/game.js')

   div.game
      h1#matchup= p1.name + ' vs. ' + p2.name
      table.game
         tr
            td#AA(onclick='mark(this)') &nbsp;
            td#AB(onclick='mark(this)') &nbsp;
            td#AC(onclick='mark(this)') &nbsp;
         tr
            td#BA(onclick='mark(this)') &nbsp;
            td#BB(onclick='mark(this)') &nbsp;
            td#BC(onclick='mark(this)') &nbsp;
         tr
            td#CA(onclick='mark(this)') &nbsp;
            td#CB(onclick='mark(this)') &nbsp;
            td#CC(onclick='mark(this)') &nbsp;

      h3#status Next move
      h3#again(style='display:none')
         a(href=url) Rematch!
         br
         a(href=url.replace(/p1=/i,'p3=').replace(/p2=/i,'p1=').replace(/p3=/i,'p2=')) Switch!

      table.game
         tr
            td#p1(class='p1 active') A
            td#p2(class='p2 inactive') E

   if(p1 && p2)
      script!= "setPlayers(" + JSON.stringify(p1) + ", " + JSON.stringify(p2) + ");"
