body {
   text-align: center;
   padding: 0px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-image: url('/images/background.png');
   background-repeat:both;
}

div.game{
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 255, 255, .5);
    min-height: 300px;
    min-width: 180px; 
    padding: 10px;
    border: 2px dashed red;
}

h3{
    padding-top: -10px;
}

a {
   color: #FF0000;
}

td {
   border: solid 1px black; width: 50px; height: 50px;
   background-color: white;
   cursor:hand;
   text-align: center;
   vertical-align: center;
   font-size: 32pt;
}
td.p1 {
   background-color: rgb(255, 182, 193);
   cursor:pointer;
}
td.p2 {
   background-color: lime;
   cursor:pointer;
}
td.active {
   border: solid 3px black;
}
td.inactive {
   background-color: white;
}
