body {
   padding: 0px;
   margin: 0px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   text-align: center;
   background-repeat:both;
   background: rgb(0, 0, 80); /* Fall-back for browsers that don't
                                    support rgba */
   background: rgba(0, 0, 80, .5);
}

div.game{
    background: rgb(255, 255, 0); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 255, 0, .5);
    padding: 10px;
    border: 2px dashed yellow;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
}

h3{
    padding-top: -10px;
}

a {
   color: #FF0000;
}

td {
   border: solid 1px black; width: 50px; height: 50px;
   background-color: white;
   cursor:hand;
   text-align: center;
   vertical-align: center;
   font-size: 32pt;
}
td.p1 {
   background-color: rgb(255, 182, 193);
   cursor:pointer;
}
td.p2 {
   background-color: lime;
   cursor:pointer;
}
td.active {
   border: solid 3px black;
}
td.inactive {
   background-color: white;
}
